
.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.titulo-resultado {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  font-size: 20px;
}

.texto-destacado {
	font-weight: bold;
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	position: relative;
}

header h1 {
	color: #6C6CDC;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
}

input {
	margin-inline: 8px;
}	

.busca,
.formulario {
	background-color: #f4f4f5;
	font-weight: bold;
	text-transform: uppercase;

	margin-right: 10px;
	width: 600px;
	float: left;
    	border-top-left-radius: 12px;
    	border-top-right-radius: 12px;
}

.busca h2,
.busca form,
.formulario h2 {
	margin: 10px;
}

.formulario h2 {
	margin-left: 28px;
    	margin-top: 4px;
}

.formulario {
	clear: left;
	margin-top: 10px;
	padding-top: 10px;
}

.formulario li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.formulario a {
	color: #333333;
	text-decoration: none;
}

.formulario button {
	margin-left: 270px;
	font-size: 20px;
	padding: 2px 16px;
  border-radius: 8px;
  border: 2px solid lightsteelblue;
}

.formulario button:hover {
	color: #5e75b2;
}

.busca input[type=search] {
	width: 170px;
}


.destaque {
	margin-top: 10px;
}

.resultado {
	clear: left;
	background-color: #a5b4fc;
	color: #27272a;
  border: 1px solid #818cf8;
  border-radius: 4px;
	text-transform: uppercase;

	position: relative;
	top: 20px;
  padding: 20px 15px;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 570px;	
}

footer {
	width: 940px;
	margin-inline: auto;
	margin-top: 4rem;
}

footer .container {
	width: 600px;
	margin-left: 0;

  display: flex;
  justify-content: center;
  background-color: #3044a3DD;
  padding-block: 0.75rem;
  color: #effaff;
	font-size: 12px;
}

footer em {
  color: #06bbf1;
}

footer strong {
  color: #2ccfff;
  text-shadow: #0078a7 1px 0 3px;
}

.display-none {
	display: none
}
